body, h1, h2, ol, li, p {
    margin: 0;
    padding: 0;
	text-align: center;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #ff5733;
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    color: #5e35b1;
    font-size: 24px;
    margin-bottom: 15px;
}

p.note {
    color: #0288d1;
    font-size: 16px;
    margin-bottom: 10px;
}

ol {
    list-style-type: none;
    margin-left: 20px;
}

li.note {
    color: #43a047;
    font-size: 14px;
    margin-bottom: 5px;
}

li#id-selector-demo {
    font-weight: bold;
}
